#content section {
  padding: 0;
}

/* section.intro */
#content .intro_bg {
  position: relative;
  height: auto;
  img {
    width: 100%;
  }
}

#content .intro_txt {
  width: 86%;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0,0,0,.3);
  h3 {
    font-size: 1.75rem;
    line-height: 1.5;
    letter-spacing: .02rem;
    color: #fff;
    text-align: left;
    margin-bottom: 20%;
  }
  .slogan {
    font-size: 1.1rem;
    font-weight: 500;
  }
}
#content .intro_txt .slogan p {
  margin-bottom: 5%;
  strong {
    font-size: 1.2rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 768px) {
  #content .intro_txt {
    bottom: 5%;
    h3 {
      font-size: 3rem;
      margin-bottom: 25%;
    }
  }
  #content .intro_txt .slogan {
    font-size: 2rem;
    p strong {
      font-size: 2.2rem;
    }
  }
  
}
@media screen and (min-width: 1024px) {
  #content .intro_txt {
    bottom: 5%;
    h3 {
      font-size: 5rem;
      margin-bottom: 30%;
    }
  }
  #content .intro_txt .slogan {
    font-size: 3rem;
    p strong {
      font-size: 3.3rem;
    }
  }
}
#content .intro_description {
  width: 90%;
  margin: 0 auto;
  padding: 50px 0 0;
  p {
    font-size: 1.1rem;
    line-height: 1.75;
   }
   p:first-of-type::after {
    content: '';
    display: block;
    width: 25%;
    height: 1px;
    background: #ddd;
    margin: 50px auto;
  }
  p .accent {
    font-weight: 500;
    color: #f65742;
  }
}
#content .intro_description::after {
  content: '';
  display: block;
  width: 1px;
  height: 50px;
  background: #ddd;
  margin: 50px auto 0;
}

/* mySwiper1 */
.mySwiper1 {
  width: 100%;
  padding: 15% 5% 10%;
  box-sizing: border-box;
  .swiper-slide {
    width: 90%;
  }
  img {
    width: 100%;
  }
}
#content .intro dl dt {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.5;
  color: #f65742;
  display: inline-block;
  position: relative;
}
#content .vision {
  .main_des {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 5% 0;
  }
  .sub_des {
    font-size: 1.05rem;
    line-height: 1.75;
    color: #666;
    text-align: justify;
  }
}
#content .vision ul.vision__list {
  list-style: disc;
  margin-top: 7.5%;
  padding-top: 7.5%;
  border-top: 1px solid #f5f5f5;

  li {
    list-style: disc;
    line-height: 1.75;
    font-size: 1rem;
    font-weight: 300;
    color: #666;
    margin-left: 10px;
    position: relative;
  }
  li::marker {
    color: #f65742;
  }
}